[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = http://github.com/gmarik/vundle.git
